# Final Project: Black Friday Excel Data

In [13]:
import openpyxl as xl

# pprint prints dictionaries a bit more nicely than print
from pprint import pprint
from tax_calculator import tax_calc

## Part 1

### Data Cleaning and Exploration

First, we are going to read the maven_ski_shop_data.xlsx file using openpyxl functions.

In [15]:
excel_file = xl.load_workbook(filename = 'maven_ski_shop_data.xlsx')

### Column Printer Function

Since we'll be working with Excel frequently, let's create a helper function to print all the rows a specified column.

This will help us view imported data without looking at Excel, and review the data we've written into columns without needing to save a file to review the changes.

In [17]:
orders = excel_file['Orders_Info']

In [18]:
def column_printer(orders, column_value): 
    list_val = []
    for row in range(2, orders.max_row + 1): 
        list_val.append(orders[column_value + str(row)].value)
    return list_val

In [19]:
column_printer(orders, 'C')

['11/26/2021',
 '11/26/2021',
 '11/26/2021',
 '11/26/2021',
 '11/26/2021',
 '11/26/2021',
 '11/26/2021',
 '11/26/2021',
 '11/26/2021',
 '11/26/2021',
 '11/26/2021',
 '11/26/2021',
 '11/26/2021',
 '11/26/2021',
 '11/26/2021',
 '11/27/2021',
 '11/27/2021',
 '11/27/2021',
 '11/27/2021',
 '11/27/2021',
 '11/27/2021',
 '11/27/2021',
 '11/28/2021',
 '11/28/2021',
 '11/28/2021',
 '11/28/2021',
 '11/28/2021']

In [20]:
column_printer(orders, 'D')

[15.98,
 899.97,
 799.97,
 117.96,
 5.99,
 599.99,
 24.99,
 1799.94,
 99.99,
 254.95,
 29.98,
 99.99,
 25.98,
 649.98,
 89.99,
 119.99,
 599.99,
 649.98,
 24.99,
 99.99,
 99.99,
 5.99,
 24.99,
 999.96,
 99.99,
 399.97,
 89.99]

### Order Data Dictionary

a dictionary with all the information in the 'Orders_Info' Worksheet.

* The dictionary keys should be Order IDs (Column A)
* The values should a list storing the data in the rest of the columns.
* The columns in the list stored as values should be B, C, D, G, and H (after converting to list). 
* For example: The first order, column H should be the nested list: [10001, 10002]

In [22]:
order_dict = {
    orders[f'A{order}'].value: [
        orders[f'B{order}'].value, 
        orders[f'C{order}'].value, 
        orders[f'D{order}'].value, 
        orders[f'E{order}'].value, 
        orders[f'G{order}'].value, 
        str(orders[f'H{order}'].value).split(', ')
    ]
    for order in range(2, orders.max_row + 1)
}

In [23]:
order_dict

{100000: ['C00004',
  '11/26/2021',
  15.98,
  None,
  'Sun Valley',
  ['10001', '10002']],
 100001: ['C00007',
  '11/26/2021',
  899.97,
  None,
  'Stowe',
  ['10008', '10009', '10010']],
 100002: ['C00015',
  '11/26/2021',
  799.97,
  None,
  'Mammoth',
  ['10011', '10012', '10013']],
 100003: ['C00016',
  '11/26/2021',
  117.96,
  None,
  'Stowe',
  ['10002', '10003', '10004', '10006']],
 100004: ['C00020', '11/26/2021', 5.99, None, 'Sun Valley', ['10001']],
 100005: ['C00010', '11/26/2021', 599.99, None, 'Mammoth', ['10010']],
 100006: ['C00006', '11/26/2021', 24.99, None, 'Mammoth', ['10004']],
 100007: ['C00001',
  '11/26/2021',
  1799.94,
  None,
  'Mammoth',
  ['10008', '10008', '10009', '10009', '10009', '10010', '10010']],
 100008: ['C00003', '11/26/2021', 99.99, None, 'Sun Valley', ['10005']],
 100009: ['C00014',
  '11/26/2021',
  254.95,
  None,
  'Sun Valley',
  ['10002', '10003', '10004', '10006', '10007']],
 100010: ['C00001', '11/26/2021', 29.98, None, 'Mammoth', ['10002', '10003']],
 100011: ['C00001', '11/26/2021', 99.99, None, 'Mammoth', ['10005']],
 100012: ['C00005',
  '11/26/2021',
  25.98,
  None,
  'Sun Valley',
  ['10001', '10003']],
 100013: ['C00008', '11/26/2021', 649.98, None, 'Stowe', ['10012', '10013']],
 100014: ['C00013', '11/26/2021', 89.99, None, 'Sun Valley', ['10014']],
 100020: ['C00004', '11/27/2021', 119.99, None, 'Sun Valley', ['10007']],
 100021: ['C00017', '11/27/2021', 599.99, None, 'Stowe', ['10010']],
 100022: ['C00019',
  '11/27/2021',
  649.98,
  None,
  'Sun Valley',
  ['10012', '10013']],
 100023: ['C00002', '11/27/2021', 24.99, None, 'Stowe', ['10004']],
 100024: ['C00008', '11/27/2021', 99.99, None, 'Stowe', ['10005']],
 100025: ['C00021', '11/27/2021', 99.99, None, 'Mammoth', ['10008']],
 100026: ['C00022', '11/27/2021', 5.99, None, 'Sun Valley', ['10001']],
 100027: ['C00006', '11/28/2021', 24.99, None, 'Mammoth', ['10002']],
 100031: ['C00018',
  '11/28/2021',
  999.96,
  None,
  'Stowe',
  ['10005', '10008', '10009', '10010']],
 100032: ['C00018', '11/28/2021', 99.99, None, 'Stowe', ['10006']],
 100033: ['C00010',
  '11/28/2021',
  399.97,
  None,
  'Mammoth',
  ['10005', '10008', '10009']],
 100034: ['C00016', '11/28/2021', 89.99, None, 'Stowe', ['10014']]}

### Sales Tax Calculation 

We need to calculate the sales tax and total amount owed for every order in this sheet.

* If location is Sun Valley, apply a sales tax of 8%
* If location is Mammoth, apply a sales tax of 7.75%.
* If location is Stowe, apply a sales tax of 6%

In [25]:

for values in order_dict.values(): 
    if values[4] == 'Sun Valley': 
        val = tax_calc(values[2], .08) 
    elif values[4] == "Mammoth": 
        val = tax_calc(values[2], .075)
    else: 
        val = tax_calc(values[2], .06)
    values.insert(3, val[1])
    values.insert(4, val[2]) 

order_dict

{100000: ['C00004',
  '11/26/2021',
  15.98,
  1.28,
  17.26,
  None,
  'Sun Valley',
  ['10001', '10002']],
 100001: ['C00007',
  '11/26/2021',
  899.97,
  54.0,
  953.97,
  None,
  'Stowe',
  ['10008', '10009', '10010']],
 100002: ['C00015',
  '11/26/2021',
  799.97,
  60.0,
  859.97,
  None,
  'Mammoth',
  ['10011', '10012', '10013']],
 100003: ['C00016',
  '11/26/2021',
  117.96,
  7.08,
  125.04,
  None,
  'Stowe',
  ['10002', '10003', '10004', '10006']],
 100004: ['C00020',
  '11/26/2021',
  5.99,
  0.48,
  6.47,
  None,
  'Sun Valley',
  ['10001']],
 100005: ['C00010',
  '11/26/2021',
  599.99,
  45.0,
  644.99,
  None,
  'Mammoth',
  ['10010']],
 100006: ['C00006',
  '11/26/2021',
  24.99,
  1.87,
  26.86,
  None,
  'Mammoth',
  ['10004']],
 100007: ['C00001',
  '11/26/2021',
  1799.94,
  135.0,
  1934.94,
  None,
  'Mammoth',
  ['10008', '10008', '10009', '10009', '10009', '10010', '10010']],
 100008: ['C00003',
  '11/26/2021',
  99.99,
  8.0,
  107.99,
  None,
  'Sun Valley',
  ['10005']],
 100009: ['C00014',
  '11/26/2021',
  254.95,
  20.4,
  275.35,
  None,
  'Sun Valley',
  ['10002', '10003', '10004', '10006', '10007']],
 100010: ['C00001',
  '11/26/2021',
  29.98,
  2.25,
  32.23,
  None,
  'Mammoth',
  ['10002', '10003']],
 100011: ['C00001',
  '11/26/2021',
  99.99,
  7.5,
  107.49,
  None,
  'Mammoth',
  ['10005']],
 100012: ['C00005',
  '11/26/2021',
  25.98,
  2.08,
  28.06,
  None,
  'Sun Valley',
  ['10001', '10003']],
 100013: ['C00008',
  '11/26/2021',
  649.98,
  39.0,
  688.98,
  None,
  'Stowe',
  ['10012', '10013']],
 100014: ['C00013',
  '11/26/2021',
  89.99,
  7.2,
  97.19,
  None,
  'Sun Valley',
  ['10014']],
 100020: ['C00004',
  '11/27/2021',
  119.99,
  9.6,
  129.59,
  None,
  'Sun Valley',
  ['10007']],
 100021: ['C00017',
  '11/27/2021',
  599.99,
  36.0,
  635.99,
  None,
  'Stowe',
  ['10010']],
 100022: ['C00019',
  '11/27/2021',
  649.98,
  52.0,
  701.98,
  None,
  'Sun Valley',
  ['10012', '10013']],
 100023: ['C00002', '11/27/2021', 24.99, 1.5, 26.49, None, 'Stowe', ['10004']],
 100024: ['C00008',
  '11/27/2021',
  99.99,
  6.0,
  105.99,
  None,
  'Stowe',
  ['10005']],
 100025: ['C00021',
  '11/27/2021',
  99.99,
  7.5,
  107.49,
  None,
  'Mammoth',
  ['10008']],
 100026: ['C00022',
  '11/27/2021',
  5.99,
  0.48,
  6.47,
  None,
  'Sun Valley',
  ['10001']],
 100027: ['C00006',
  '11/28/2021',
  24.99,
  1.87,
  26.86,
  None,
  'Mammoth',
  ['10002']],
 100031: ['C00018',
  '11/28/2021',
  999.96,
  60.0,
  1059.96,
  None,
  'Stowe',
  ['10005', '10008', '10009', '10010']],
 100032: ['C00018',
  '11/28/2021',
  99.99,
  6.0,
  105.99,
  None,
  'Stowe',
  ['10006']],
 100033: ['C00010',
  '11/28/2021',
  399.97,
  30.0,
  429.97,
  None,
  'Mammoth',
  ['10005', '10008', '10009']],
 100034: ['C00016', '11/28/2021', 89.99, 5.4, 95.39, None, 'Stowe', ['10014']]}

### Write Sales Tax and Total Into the Excel Sheet

Sales tax and total you just calculated into the workbook, then save!

In [27]:
for i, val in enumerate(order_dict.values(), start = 2):
    orders[f'E{i}'].value = val[3] 
    orders[f'F{i}'].value = val[4]

In [28]:
excel_file.save('maven_ski_shop_data_fixed.xlsx') 
if excel_file: 
    print('Saved') 
else: 
    print('No')

Saved

## Part 2

### Analysis Time!
After fixing the data, we jumped over to the analysis part. 
Questions which is being answered here are as follows: 
1. Total SUM of Subtotals, Taxes, Total Revenue generated.
2. Average value of Subtotals.
3. Total Unique customers we have and Orders Per Customers.
4. Total Number of Items we sold.
5. Total Sales By Location.

This has led us to an in-depth analysis of the data which is essential to understand where exactly our business is going and what the key areas where we need to focus on.

In [80]:
dictionary = order_dict.values()
def column_sum(dictionary, index_val): 
    list_val = [i[index_val] for i in dictionary]
    final_sum = round(sum(list_val), 2)  
    print(final_sum) 
column_sum(dictionary, 4)

# column_sum(dictionary, 2)
# for row in range(2, orders.max_row + 1): 
#     for i in dictionary: 
#         a = a + i[row]

9338.96

#### Sum The Subtotal, Tax, and Total Columns 

Now that we have our column sum function, calculate the sum of:

* Subtotals
* Taxes
* Totals

In [32]:
print(column_sum(dictionary, 2))
print(column_sum(dictionary, 3))
print(column_sum(dictionary, 4))

8731.47
None
607.49
None
9338.96
None

### What is the average of our subtotals?

Calculate the average value of our transactions.

Remember that each entry in your dictionary is one order.

In [34]:
list_val = [x[2] for x in order_dict.values()]
print(round(sum(list_val) / len(list_val), 2))

323.39

### How many unique customers did we have?

Calculate the total number of unique customers in our sales data.

Then calculate the number of orders per customer (total orders / unique customers)

In [36]:
Unique_customers= len({x[0] for x in dictionary}) 

orders_per_customers = len(order_dict) / Unique_customers

round(orders_per_customers, 2)

1.42

### How many items in total did we sell?

Calculate the total number of items we sold in across all orders. 

This information is in Column H, which should be the last element in order_dict's values.

In [38]:
list_val = order_dict.values()
dict_val = sum([len(i[7]) for i in list_val])
print(dict_val)

54

### Sales By Location

the sum of subtotals by location.

 output looks like 
{'Location1': sum of subtotals for 'Location1'}

With an entry for each location.

In [40]:
location_dict = {}

for i in list_val: 
    location = i[6]
    
    if location not in location_dict: 
        location_dict[location] = 0
    location_dict[location] += i[2] 

location_dict

{'Sun Valley': 1268.84,
 'Stowe': 3582.8199999999993,
 'Mammoth': 3879.8099999999995}

In [41]:
# Using get method: 
location_dict = {}

for i in list_val: 
    location = i[6]

    location_dict[location] = location_dict.get(location, 0) + i[2]

location_dict

#if location exists, then we are going to plus that with i[2], or else we will assign the value 0 to the location key.

{'Sun Valley': 1268.84,
 'Stowe': 3582.8199999999993,
 'Mammoth': 3879.8099999999995}

### Aggregator Function: Grouped by the categories over aggregated subtotals.


* A dictionary with the categories as keys, and the sum by category as value.

Once you've done so use your function to sum totals by date and customer_id.

In [43]:
def aggregator(index_col_1, index_col_2, dict):
    category_dict = {}

    for i in dict.values(): 
        category = i[index_col_1]
        category_dict[category] = category_dict.get(category, 0) + i[index_col_2]
    return category_dict

In [44]:
# index 1 = date, index 4 = total
aggregator(1, 4, order_dict)

{'11/26/2021': 5906.79, '11/27/2021': 1714.0, '11/28/2021': 1718.17}

In [45]:
# index 0 = customer_id
aggregator(0, 4, order_dict)

{'C00004': 146.85,
 'C00007': 953.97,
 'C00015': 859.97,
 'C00016': 220.43,
 'C00020': 6.47,
 'C00010': 1074.96,
 'C00006': 53.72,
 'C00001': 2074.66,
 'C00003': 107.99,
 'C00014': 275.35,
 'C00005': 28.06,
 'C00008': 794.97,
 'C00013': 97.19,
 'C00017': 635.99,
 'C00019': 701.98,
 'C00002': 26.49,
 'C00021': 107.49,
 'C00022': 6.47,
 'C00018': 1165.95}